@model nonprofitOrganization.Models.News

@{
    ViewData["Title"] = "Delete";
}

<!-- Code for the News Delete View Form DP.-->
<div class="text-center" style="border-style: solid; border: 9px solid #0094cc; border-radius: 20px;margin-top: 15px; background-color: white; padding-bottom: 1rem">
    <h1 style="margin-top: 1rem">Delete</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DatePosted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DatePosted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NewsAuthor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NewsAuthor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NewsTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NewsTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Body)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="NewsID" />
            <input type="submit" value="Delete" class="btn btn-dark" />
            <a class="btn btn-dark" asp-action="Index">Back</a>
        </form>
    </div>
</div>


