@model IEnumerable<nonprofitOrganization.Models.News>

@{
    ViewData["Title"] = "Index";
}

<!-- Code for the News Index View Form DP.-->
<div class="text-center" style="border-style: solid; border: 9px solid #0094cc; border-radius: 20px;margin-top: 15px; background-color: white; padding-bottom: 1rem">
    <h1 style="margin-top: 1rem; margin-bottom: 1rem">News</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DatePosted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsAuthor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsTitle)
                </th>
                <th class="mobile-friendly-index">
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsAuthor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsTitle)
                    </td>
                    <td class="mobile-friendly-index">
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <!-- Inline Code to set last table row colum to align buttons vertical DP.-->
                    <td class="btn-group-vertical">
                        <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.NewsID">Edit</a>
                        <a class="btn btn-dark btn-sm" asp-action="Delete" asp-route-id="@item.NewsID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Code to enable both Admin & Staff roles to go back to their area's Home Index View due to shared controller DP.-->
    <a asp-action="Create" class="btn btn-dark">Create New</a>
    @if (User.IsInRole("Staff"))
    {
        <a class="btn btn-dark" asp-area="Staff" asp-controller="Home" asp-action="Index">Back</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Back</a>
    }
</div>


